apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-config
data:
  redis.conf: |
    # Redis configuration
    bind 0.0.0.0
    protected-mode yes
    port 6379
    
    # Persistence
    save 900 1
    save 300 10
    save 60 10000
    
    # AOF
    appendonly yes
    appendfsync everysec
    
    # Memory
    maxmemory 256mb
    maxmemory-policy allkeys-lru
    
    # Logging
    loglevel notice