apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - statefulset.yaml
  - service.yaml
  - configmap.yaml
  - secrets.yaml

labels:
  - pairs:
      app: redis
      component: cache